/* PARA O ARQUIVO divs.html */
body {
    font-family: Arial;
}
header {
    border: 3px solid grey;
    padding: 30px;
    margin: 10px;
}
main {
    border: 3px solid grey;
    padding: 30px;
    margin: 10px;
}
footer {
    border: 3px solid grey;
    padding: 30px;
    margin: 10px;
}

section {
    border-top: 2px dotted grey;
    border-bottom: 2px dotted grey;
}

article {
    padding: 20px;
    margin: 20px 0;
    background-color: orange;
}

span {
    background-color: orangered;
}

/* Praticando float */
article {
    float: left;
    width: 30%;
    margin: 10px;
    box-sizing: border-box;
}
section.noticias {
    overflow: hidden;
}